%h1 Please enter your credentials

%p
  Please enter your username and password.

%form{ action: 'login', method: 'post' }
  %p
    %label{ for: 'username' } Username
    %input{ type: 'text', name: 'username', id: 'username' }
    %label{ for: 'username' } Password
    %input{ type: 'password', name: 'password', id: 'password' }
  %p
    %input{ type: 'submit', name: 'submit', id: 'submit', value: "Let me in" }
